*{
  padding: 0%;
  margin: 0%;
}

.card-body:hover {
  background-color:rgba(201, 201, 201, 0.616);
  color:rgb(0, 0, 0);
}
.grid-container {
display: grid;
grid-template-rows: auto;
grid-template-columns: auto;
/*grid-auto-rows: minmax(100px , 50px); /* minmax (alto,ancho)*/
}
.grid-item{
  grid-column: auto;
  grid-row: auto;

} 
.grid-item2{
  grid-column: auto;
  grid-row: auto;
}
.grid-item3{
  grid-column: 3;
  grid-row: auto;
}/*
.grid-item4{
  grid-column: 3;
  grid-row: 3;
}
.grid-item5{
  grid-column: 2;
  grid-row: 4;
}
.grid-item6{
  grid-column: 3;
  grid-row: 4;
} */